<div class="header">
  <div class="category">
    <p>景點類別:</p>
    <select [(ngModel)]="selectedCategoryId" (change)="onCategoryChange()">
      <option *ngFor="let c of categoryList" [ngValue]="c.id">{{ c.name }}</option>
    </select>
  </div>
  <a class="myfav" routerLink="/favorites">我的最愛清單</a>
</div>

<table class="data-table">
  <tr *ngFor="let a of displayedAttractions; let i = index">
    <td data-label="#">{{ (currentPage - 1)*10 + i + 1 }}</td>
    <td data-label="景點名稱"><h3>{{ a.name }}</h3></td>
    <td data-label="地址"><p>{{ a.address }}</p></td>
    <td data-label="電話"><p>{{ a.tel }}</p></td>
    <td data-label="收藏">
      <button (click)="toggleFavorite(a.id)">
        {{ favoriteIds.has(a.id) ? '❤️' : '🤍' }}
      </button>
    </td>
  </tr>
</table>
<ul class="page-controls">
  <li><span>目前第 <b>{{ currentPage }}</b> 頁</span></li>
  <li><button (click)="prevPage()" [disabled]="currentPage === 1">上一頁</button></li>
  <li><button (click)="nextPage()" [disabled]="currentPage >= maxPage">下一頁</button></li>
</ul>

